body {
  font-family: 'Raleway', sans-serif;
	margin:	0px;
}
a {
	color: gray;
	text-decoration: none;
	font-size: 20px;
}
.center {
	text-align:center;
}
.header {
	border-bottom: 2px solid black;
	padding: 10px 10px 10px 10px;
}
.header:after {
	content: "";
	display: table;
	clear: both;	
}
.profileImage {
	float: left;
	height: 100px;
}
#name {
	text-align: right;
	font-size: 48px;
	margin: 0px;
}
.subtitle {
	text-align: right;
}
.projectImage {
	width: 100%;
}
.mylink {
	display: block;
	text-align: center;
}
#aboutMeDiv {
	display: inline-block;
	width: 100%;
}
#comingSoon {
	color: gray;
}
#aboutMe {
	text-align: left;
	margin-left: 20px;
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}