body {
  font-family: 'Raleway', sans-serif;
	/*font-size: 48px;*/
	margin:	0px;
	/*background-image: url(https://s3.amazonaws.com/nanodegreeportfolio/stock-background.jpg);*/
	background-size: 100%;
	background-repeat: no-repeat;
}
.header {
	border-bottom: 2px solid black;
	padding: 10px 10px 10px 10px;
}
.header:after {
	content: "";
	display: table;
	clear: both;	
}
.profileImage {
	float: left;
	height: 100px;
}
.name {
	text-align: right;
	font-size: 48px;
	margin: 0px;
}

.subtitle {
	text-align: right;
}
.project {
	width: 30%;
	float: left;
	padding: 5px;
}
.projectsRow {
	width: 100%;
	margin: 0 5% 0 5%;
}
.projectImage {
	width: 100%;
}
.mylink {
	display: block;
	text-align: center;
}
a {
	color: gray;
	text-decoration: none;
	font-size: 20px;
}
#aboutMeDiv {
	display: inline-block;
	width: 100%;
}
#comingSoon {
	color: gray;
}
#aboutMe {
	text-align: left;
	margin-left: 20px;
}